.updown-cart {
    width: 35px;
    background-color: #c4e0dd;
    border: 1px solid #c4e0dd;
    border-radius: 1px;
    font-weight: 600;
    font-size : 20px;
}
.quantity-input {
    border: 1.5px solid #c4e0dd;
    background-color : #fff;
    user-select : none;
    font-weight : 600;
}